body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}
.input{
    width: 300px;
    height: 100px;
    border: 1px solid black;
}
.select{


}